.menu-label,
#menu-check {
  display: none;
  z-index: 1;
}

@media (max-width: 600px) {

  section {
    padding: 25px 10px;
    transition: padding-top 1s ease;
  }

  .aside-wrap {
    width: 100%;
    padding: 0;
    margin: 0;
    top: -300px;
    height: auto;
    position: fixed;
    transition: top 1s ease;
  }

  .aside-wrap .profile-image {
    display: none;
  }

  .aside-wrap .menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }

  .aside-wrap .menu-item {
    line-height: inherit;
  }

  .aside-wrap .menu-link {
    display: block;
    border-bottom: 1px solid #000;
    padding: 15px;
  }
    
  .menu-label {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 5px 8px;
    margin: 5px 10px;
    border-radius: 2px;
    font-size: 14px;
    border: 1px solid;
    font-size: 28px;
  }


  #menu-check:checked + .aside-wrap {
    top: 0;
  }

  #menu-check:checked ~ main section {
    padding-top: 210px;
  }

  #projects .card {
    width: 100%;
  }

}